certifi==2020.11.8
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.10
inexactsearch==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.15.1
MarkupSafe==1.1.1
nltk==3.5
numpy==1.18.5
pandas==0.25.1
pyspellchecker==0.6.2
python-dateutil==2.8.0
pytz==2019.1
regex==2020.9.27
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.2
silpa-common==0.3
six==1.15.0
soundex==1.1.3
threadpoolctl==2.1.0
tqdm==4.38.0
urllib3==1.26.2
Werkzeug==1.0.1